.carousel-main{
  position: relative;
  height: 90vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .carousel-div{
    width: 99vw;
    height: 90vh;
    position: relative;

    .text{
      position: absolute;
      top: 45vh;
      left: 25vw;
      width: 50vw;
      text-align: center;
      color: white;

      .title{
        font-size: 100px;
        color: white;
        margin-bottom: 0
      };

      .subtitle{
        font-size: 40px;
      }
    }
 
    .right-arrow{
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 2rem;
      color: white;
      z-index: 10;
      user-select: none;
    };
  
    .left-arrow{
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 2rem;
      color: white;
      z-index: 10;
      user-select: none;
    };
  };


  .slide{
    opacity: 0;
    transition-duration: 1s;
  };

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
  };

}