.carousel-comp-main{
  width: 60vw !important;
  height: 75vh;
  
  .carousel{
    .paper-carousel{
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;

      img{
        object-fit: cover;
        width: 100%;
      };
    };
  };

  @media screen  and (max-width: 1200px){
    width: 100vw !important;
    margin-left: -10vw;
    .carousel{
      .paper-carousel{
        height: 65vh;
      };
    };
  };

  @media screen and (max-width: 900px) {
    .carousel{
      .paper-carousel{
        height: 55vh;
      };
    };
  };

};