.carousel-comp-main{
  width: 70vw;
  height: 75vh;

  .carousel{
    
    .paper-carousel{
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        object-fit: cover;
        width: 100%;
      };
    };
  };
};