.home-footer-main{
  background-color: #f5f5f5;
  padding: 3% 6% 2% 6%;
  margin-top: 5%;
  
  .links{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    
    .link-part{
      width: 33%;
      text-align: center;
      
      .inside{
        display: inline-block;
        text-align: left;
        position: relative;
        
        .div-logo{
          width: 9rem;
          position: absolute;
          bottom: -10rem
        }
      }
    }
  };

  .footer-home-list{
    li{
      margin-bottom: 1rem;
    }
    .network-icon{
      font-size: 22px;
      vertical-align: middle;
      margin-top: -8px;
      margin-right: 10px;
    };
  
    .instagram{
      font-size: 24px !important;
      margin-left: -1px !important;
    };

    .network{
      transition-duration: .5s;

      &:hover{
        color: grey !important;
        transition-duration: .5s
      }
    }
  };


  .contact-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

    .contact-input{
      margin-bottom: 10px;
    }
  };

  .supports-partners{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-around;

    .footer-logo{
      max-width: 100px;
      padding-top: 3rem;
      padding-bottom: 2rem;
      
      img{
        width: 100%
      };
    };
  };

  .end-paragraph{
    text-align: end;
    margin-top: 2rem;
  }
};

.footer-main{
  background-color: #f5f5f5;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 0 50px;

  p{
    padding: 0 !important;
  }

  .footer-list{
    display: flex;

    li{
      margin-bottom: 1rem;
    }
 
    .network-icon{
      font-size: 26px;
      vertical-align: middle;
      margin-top: -8px;
      margin-right: 10px;
    };
    
    .instagram{
      font-size: 24px !important;
      margin-left: -1px !important;
    };
  };



}