@import "../commons/colors.scss";

.navbar-main{
  border-bottom: 2px solid $primary;
  height: 70px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: white;

  .logo-div{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 30px;

    .logo{
      height: 50px;
    };
  };

  .popover{
    border: 1px solid $primary;
  }


  .navbar-list{
    margin-right: 20px;
    color: $primary;
    position: relative;  
  
    li{
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 3px;
      position:relative;
      text-decoration:none;
      display:inline-block; 
  
      &:after {
        display:block;
        content: '';
        border-bottom: solid 1px $primary;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:100% 50%;
      };
  
      &:hover:after { 
        transform: scaleX(1);
        transform-origin:0 50%;
      };
    };
  };
};

.navbar-home{
  border-bottom: 2px solid transparent;
  height: 70px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;

  .logo-div{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 30px;

    .logo{
      height: 50px;
    };
  };

  .navbar-list{
    margin-right: 20px;
    color: white;

    li{
      margin-left: 10px;
      margin-right: 20px;
      padding-top: 3px;
      position:relative;
      text-decoration:none;
      display:inline-block; 
      font-weight: bold;

      &:after {
        display:block;
        content: '';
        border-bottom: solid 1px white;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:100% 50%
      };

      &:hover:after { 
        transform: scaleX(1);
        transform-origin:0 50%;
      };
    };
  };
};

.loading-div{
  width: 50px;
  padding: 1rem 2rem;
};

.menu-list{
    color: $primary !important;
    font-size: 16px;
    padding: 10px 10px 0 10px;
    
    li{
      position:relative;
      text-decoration:none;
  
      &:after {
        display:block;
        content: '';
        border-bottom: solid 1px $primary;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:100% 50%;
      };
  
      &:hover:after { 
        transform: scaleX(1);
        transform-origin:0 50%;
      };
    };
  };

  .popover-div{
    position: relative;
  }

  .popover{
    background-color: white;
    position: absolute;
    top: 30px;
    padding: .5rem 0 .5rem 0;
    display: none;
    // border: 1px solid $primary;

    a{
      color: $primary;
      text-decoration: none;
  
      &:after {
        display:block;
        content: '';
        border-bottom: solid 1px $primary;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:100% 50%;
      };
  
      &:hover:after { 
        transform: scaleX(1);
        transform-origin:0 50%;
      };
    }

    .popover-list{
      display: flex;
      flex-direction: column;

      li{
        white-space: nowrap;
      }
    }
  }