.primary-button {
  background-color: #3e79bc;
  border: none;
  color: white;
  padding: 2% 5%;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  min-width: 150px;
  cursor: pointer;
  transition-duration: 1s; }
  .primary-button:hover {
    background-color: #386da9;
    transition-duration: 1s; }

.primary-button-outline {
  background-color: white;
  border: 1px solid #3e79bc;
  color: #3e79bc;
  padding: 2% 5%;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  min-width: 150px;
  cursor: pointer;
  transition-duration: 1s; }
  .primary-button-outline:hover {
    background-color: #3e79bc;
    color: white;
    transition-duration: 1s; }
