.carousel-main {
  position: relative;
  height: 90vh;
  width: 99.5vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .carousel-main .carousel-item {
    width: 100%;
    height: 100%; }
  .carousel-main .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    user-select: none; }
  .carousel-main .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    user-select: none; }
  .carousel-main .slide {
    opacity: 0;
    transition-duration: 1s; }
  .carousel-main .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1); }
