.company-main {
  margin-top: 100px;
  padding: 3rem 4rem; }
  .company-main .top {
    display: flex;
    margin-top: 1rem; }
    .company-main .top .left {
      width: 43%; }
      .company-main .top .left .company-lines1 {
        height: 70px;
        width: 80%; }
      .company-main .top .left .picture-div {
        width: 100%;
        margin-top: 50px; }
    .company-main .top .right {
      width: 57%;
      padding-left: 2rem; }
      .company-main .top .right p {
        margin-top: 56px;
        text-align: justify; }
  .company-main .company-lines2 {
    height: 80px;
    width: 30%;
    margin-left: auto; }
