.home-footer-main {
  background-color: #f5f5f5;
  padding: 3% 6% 2% 6%;
  margin-top: 5%; }
  .home-footer-main .captcha {
    margin-bottom: 8px; }
  .home-footer-main .links {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem; }
    .home-footer-main .links .link-part {
      width: 33%;
      text-align: center; }
      .home-footer-main .links .link-part .inside {
        display: inline-block;
        text-align: left;
        position: relative; }
        .home-footer-main .links .link-part .inside .div-logo {
          width: 9rem;
          position: absolute;
          bottom: -10rem; }
  .home-footer-main .footer-home-list li {
    margin-bottom: 1rem; }
  .home-footer-main .footer-home-list .network-icon {
    font-size: 22px;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: 10px; }
  .home-footer-main .footer-home-list .instagram {
    font-size: 24px !important;
    margin-left: -1px !important; }
  .home-footer-main .footer-home-list .network {
    transition-duration: .5s; }
    .home-footer-main .footer-home-list .network:hover {
      color: grey !important;
      transition-duration: .5s; }
  .home-footer-main .contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto; }
    .home-footer-main .contact-form .contact-input {
      margin-bottom: 10px; }
  .home-footer-main .supports-partners {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-around; }
    .home-footer-main .supports-partners .footer-logo {
      max-width: 100px;
      padding-top: 3rem;
      padding-bottom: 2rem; }
      .home-footer-main .supports-partners .footer-logo img {
        width: 100%; }
  .home-footer-main .end-paragraph {
    text-align: end;
    margin-top: 2rem; }

.footer-main {
  background-color: #f5f5f5;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 0 50px; }
  .footer-main p {
    padding: 0 !important; }
  .footer-main .footer-list {
    display: flex; }
    .footer-main .footer-list li {
      margin-bottom: 1rem; }
    .footer-main .footer-list .network-icon {
      font-size: 26px;
      vertical-align: middle;
      margin-top: -8px;
      margin-right: 10px; }
    .footer-main .footer-list .instagram {
      font-size: 24px !important;
      margin-left: -1px !important; }
