.home-footer-main {
  background-color: #f5f5f5;
  width: 100%;
  padding: 3% 6% 3% 6%;
  margin-top: 5%; }
  .home-footer-main .links {
    display: flex; }
    .home-footer-main .links div {
      width: 33%; }
  .home-footer-main .footer-list li {
    margin-bottom: 1rem; }
  .home-footer-main .network-icon {
    font-size: 22px;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: 10px; }
  .home-footer-main .instagram {
    font-size: 24px !important;
    margin-left: -1px !important; }
  .home-footer-main .contact-form {
    width: 70%; }
    .home-footer-main .contact-form .contact-input {
      width: 1000px;
      margin-bottom: 10px; }
