.navbar-main {
  border-bottom: 2px solid #3e79bc;
  height: 70px;
  font-size: 20px;
  display: flex;
  justify-content: space-between; }
  .navbar-main .logo-div {
    text-align: center;
    display: flex;
    align-items: center; }
    .navbar-main .logo-div .logo {
      height: 50px;
      margin-left: 30px; }
  .navbar-main .navbar-list {
    margin-right: 20px;
    color: #3e79bc; }
    .navbar-main .navbar-list li {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 3px;
      position: relative;
      text-decoration: none;
      display: inline-block; }
      .navbar-main .navbar-list li:after {
        display: block;
        content: '';
        border-bottom: solid 1px #3e79bc;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 100% 50%; }
      .navbar-main .navbar-list li:hover:after {
        transform: scaleX(1);
        transform-origin: 0 50%; }
