.lines1 {
  height: 100%;
  position: relative; }
  .lines1 .l1 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 10%;
    top: 0;
    left: 10%; }
  .lines1 .l2 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 42%;
    right: 0;
    top: 20%; }
  .lines1 .l3 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 20%;
    top: 30%;
    left: 15%; }
  .lines1 .l4 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 60%;
    top: 70%;
    right: 30px; }
  .lines1 .l5 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 0; }

.lines2 {
  position: relative;
  height: 100%; }
  .lines2 .l1 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 35%;
    top: 0;
    right: 20%; }
  .lines2 .l2 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 70%;
    top: 20%;
    left: 0; }
  .lines2 .l3 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 10%;
    top: 40%;
    right: 23%; }
  .lines2 .l4 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 30%;
    top: 60%;
    right: 0; }
  .lines2 .l5 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 50%;
    top: 80%;
    left: 25%; }
  .lines2 .l6 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 40%;
    top: 100%;
    left: 0; }

.lines3 {
  position: relative;
  height: 100%; }
  .lines3 .l1 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 35%;
    top: 10%;
    right: 0%; }
  .lines3 .l2 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 15%;
    top: 25%;
    left: 10%; }
  .lines3 .l3 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 50%;
    top: 50%;
    right: 20%; }
  .lines3 .l4 {
    border-top: 1px solid #3e79bc;
    position: absolute;
    width: 35%;
    top: 75%;
    left: 0; }
