@import "../commons/colors.scss";


.home-main{
  position: absolute;
  .carousel-div{
    height: 110vh;
  };

  .home-lines1{
    width: 60%;
    height: 80px;
    margin-left: 10%;
    margin-top: 3rem;
    margin-bottom: 8rem;
  };

  .quote{
    text-align: center;

    p{
      font-size: 26px;
      color: $primary
    }
  };

  .home-lines2{
    width: 40%;
    margin-top: 5rem;;
    margin-left: auto;
    margin-right: 10%
  };
};