@import "../commons/colors.scss";


.home-main{
  width: 100vw;

  .carousel-home-div{
    height: 100vh;
    position: relative;

    .paper-carousel{
      box-shadow: none;

      img{
        height: 100vh;
        width: 100vw;
        object-fit: cover
      };

      .text{
        position: absolute;
        top: 35vh;
        left: 25vw;
        width: 50vw;
        text-align: center;
        color: white;

        .title{
          font-size: 100px;
          color: white;
          margin-bottom: 0
        };

        .subtitle{
          font-size: 40px;
        };
      };
    };
  };

  .home-lines1{
    width: 60%;
    height: 80px;
    margin-left: 10%;
    margin-top: 3rem;
    margin-bottom: 8rem;
  };

  .quote{
    text-align: center;

    p{
      font-size: 26px;
      color: $primary
    }
  };

  .home-lines2{
    width: 40%;
    height: 80px;
    margin-top: 5rem;;
    margin-left: auto;
    margin-right: 10%
  };
};