@import "../commons/colors.scss";

.no-list-style{
  list-style: none;
  padding-left: 0;
};

.flex-space-between{
  display: flex;
  justify-content: space-between;
};

.flex-space-around{
  display: flex;
  justify-content: space-around;
};

.flex-space-evenly{
  display: flex;
  justify-content:space-evenly
};

.pointer{
  cursor: pointer;
};

.fullwidth{
  width: 100%;
}